.App {
  text-align: center;
}
input {
  margin: 2rem 0rem;
  padding: 0.5rem;
  outline-style: none;
  border-radius: 0.5rem;
  font-family: "Arbutus Slab", serif;
  border: 1px solid rgb(14, 70, 226);
  font-size: medium;
}

.btn-get-flags {
  padding: 0.5rem;
  margin-left: 0.5rem;
  background-color: rgb(14, 70, 226);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.flags {
  width: 150px;
  object-fit: cover;
}

.image-list {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-list-item {
  min-width: 300px;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(14, 70, 226);
}
footer {
  padding: 0.5rem;
  background-color: rgb(14, 70, 226);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-weight: bold;
  margin: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.links {
  color: white;
  margin: 0.5rem 1rem;
}
